<div class='container-fluid mx-auto mt-5 col-12' style="text-align: center">
    <div class="hd">Contact Page</div>
    <p><small>Always fresh and fast with our customers as well as we are with our pastries.</small></p>
    <div class="row" style="justify-content: center">
        <div class="card col-md-3 col-12">
            <div class="card-content">
                <div class="card-body">
                    <img class="img" src="https://logodix.com/logo/599804.png" />
                    <div class="shadow"></div>
                    <div class="card-title"> Work Hours </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted">Mon/Fri 08.00 - 17.00 <br /> Sat/Sun 09.00 - 13.00 </small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-2">
            <div class="card-content">
                <div class="card-body">
                    <img class="img" src="https://logodix.com/logo/770081.png" />
                    <div class="card-title"> You can find us or write to us </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> Adress: 2210 Neuse Blvd, New Bern, NC 28560, USA </small> </p>
                        <p> <small class="text-muted"> Email : bakery@bakery.com</small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-2">
            <div class="card-content">
                <div class="card-body">
                    <img class="img rck" src="https://images.vexels.com/media/users/3/141328/isolated/lists/be7f7eb1f18933369cf644f87bc8c74b-telefon-runde-symbol.png" />
                    <div class="card-title"> Why not call us ? </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted">+123456 789111</small> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>